/* VARIABLES*/
      /* DefaultButton*/
//$BackGroundColorDefaultButton : blue;
//$BorderColorDefaultButton : blue;
//$ColorDefaultButton : white;
//$BackGroundColorDefaultActiveButton : red;
//$BorderColorDefaultActiveButton : red;

      /*SmallButton*/
//$BackGroundColorSmallButton : blue;
//$BorderColorSmallButton : blue;
//$ColorSmallButton : white;
//$BackGroundColorSmallActiveButton : red;
//$BorderColorSmallActiveButton : red;

      /*LargeButton*/
//$BackGroundColorLargeButton : blue;
//$BorderColorLargeButton : blue;
//$ColorLargeButton : white;
//$BackGroundColorLargeActiveButton : red;
//$BorderColorLargeActiveButton : red;
//$widthLargeButton : 24em
//$heigthLargeButton : 8em

//$ListColor : blue, orange, red, green, purple, pink, black, yellow, brown, grey;

@mixin button($textColor, $backgroundColor, $borderColor) {
  background-color: $backgroundColor;
  color: $textColor;
  padding: 5px;
  font-weight: bold;
  border-radius: 4px;
  border-color: $borderColor;
}

.ButtonDefault {
  @include button($ColorDefaultButton, $BackGroundColorDefaultButton, $BorderColorDefaultButton);
  width: $widthDefaultButton;
  height: $heightDefaultButton;
}

.ButtonDefault:active{
  background-color: $BackGroundColorDefaultActiveButton;
  border-color: $BorderColorDefaultActiveButton;
}
.ButtonDefault:hover{
  cursor:pointer;
}



.ButtonSmall {
  @include button($ColorSmallButton, $BackGroundColorSmallButton, $BorderColorSmallButton);
  width: $widthSmallButton;
  height: $heightSmallButton;
}

.ButtonSmall:active{
  background-color: $BackGroundColorSmallActiveButton;
  border-color: $BorderColorSmallActiveButton;
}
.ButtonSmall:hover{
  cursor:pointer;
}




.ButtonLarge {
  @include button($ColorLargeButton, $BackGroundColorLargeButton, $BorderColorLargeButton);
  width: $widthLargeButton;
  height: $heightLargeButton;
}

.ButtonLarge:active{
  background-color: $BackGroundColorLargeActiveButton;
  border-color: $BorderColorLargeActiveButton;
}
.ButtonLarge:hover{
  cursor:pointer;
}





@each $color in $ListColor{
  .Button-#{$color} {
    @include button(white, #{$color}, #{$color});
  }

  .Button-#{$color}:active{
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
  }
  .ButtonLarge:hover{
    cursor:pointer;
  }
}


.ButtonFlat{
  border:none;
  background-color: chocolate;
  color:black;
}

.ButtonFullContainer{
  width: 100%;
}

.ButtonFancy{
  box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.5);
  background: radial-gradient(red,purple);
  border-bottom: 5px solid purple;
  width: 12em;
  height: 4em;
}
.ButtonFancy:active{
  border-bottom: 1px solid purple;
}
