@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*********Début Exo2 **********/
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: bold;
  font-family: Arial; }

h1 {
  font-size: xx-large; }

h2 {
  font-size: x-large; }

h3 {
  font-size: large; }

h4 {
  font-size: medium; }

h5 {
  font-size: small; }

h6 {
  font-size: x-small; }

small {
  color: gray;
  font-size: 60%; }

.sub {
  color: gray;
  font-size: 60%; }

body p {
  margin-bottom: 50px;
  color: red; }

mark {
  font-weight: bold;
  background-color: gold; }

del {
  text-decoration: line-through; }

ins {
  background-color: gold; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

blockquote {
  font-style: italic;
  font-weight: 100; }

code {
  font-family: Courier,monospace; }

.sanspuce {
  list-style-type: none; }

.puceCarre {
  list-style-type: square; }

.textLeft {
  text-align: left; }

.textRight {
  text-align: right; }

.textCenter {
  text-align: center; }

.tetJustify {
  text-align: justify; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

table, th, td {
  border: 1px solid black; }

.tableDefault {
  border-collapse: collapse; }
  .tableDefault th {
    font-weight: bold;
    padding: 2px; }
  .tableDefault td {
    padding: 2px; }

.tableAlternate tr:nth-of-type(2n) {
  background-color: #ffff99; }

.tableFullBorder {
  border: 2px solid black; }

.tableLineHover tr:hover {
  background-color: aqua; }

/*# sourceMappingURL=typo.css.map */
